.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    vertical-align: bottom;   
    z-index: 1;
}

.video_1024_640 {
    width: 24.47%;
    height: 84.45%;
    position: absolute;
    top: 5.435vh;
    left: 64.5vw;
    overflow: hidden;
    /* color: red;
    background-color: red; */
    border-radius: 5.6vh;
    z-index: 2;
    object-fit: cover;
}

.hole {
    width: 20%;
    height: 5%;
    position: absolute;
    top: 17.5vh;
    left: 40vw;
    background-color: transparent;
    /* transform: translate(-50%, -50%);             */
    border-radius: 5vh;
    z-index: 2;
}

.serial_1024_640 {
    color: black;
    font-weight: bold;
    opacity: 0.7;
    width: 25%;
    height: 5%;
    top: 96%;
    left: 85%;
    position: absolute;
    font-size: small;
}