.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    vertical-align: bottom;   
    z-index: 1;
}

.video_1280_704 {
    width: 23.76%;
    height: 92.5%;
    position: absolute;
    top: 4vh;
    left: 67.75vw;
    overflow: hidden;
    /* color: red;
    background-color: red; */
    border-radius: 5.6vh;
    z-index: 2;
    object-fit: cover;
}

.hole {
    width: 20%;
    height: 5%;
    position: absolute;
    top: 17.5vh;
    left: 40vw;
    background-color: transparent;
    /* transform: translate(-50%, -50%);             */
    border-radius: 5vh;
    z-index: 2;
}

.serial_1280_704 {
    color: black;
    font-weight: bold;
    opacity: 0.7;
    width: 25%;
    height: 5%;
    top: 95.5%;
    left: 90%;
    position: absolute;
    font-size: small;
}