.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    vertical-align: bottom;   
    z-index: 1;
}

.video_704_1280 {
    width: 64.8%;
    height: 76.05%;
    position: absolute;
    top: 17.03vh;
    left: 18.5vw;
    overflow: hidden;
    /* color: red;
    background-color: red; */
    border-radius: 5.1vh;
    z-index: 2;
    object-fit: cover;
}

.hole {
    width: 20%;
    height: 5%;
    position: absolute;
    top: 17.5vh;
    left: 40vw;
    background-color: transparent;
    /* transform: translate(-50%, -50%);             */
    border-radius: 5vh;
    z-index: 2;
}

.serial_704_1280 {
    color: black;
    font-size: medium;
    font-weight: bold;
    opacity: 0.7;
    width: 25%;
    height: 5%;
    top: 96.2%;
    left: 77.5%;
    position: absolute;
}