.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    vertical-align: bottom;
    z-index: 1;
}

.video_720_864 {
    width: 44.4%;
    height: 79%;
    position: absolute;
    top: 17.6vh;
    left: 28.7vw;
    overflow: hidden;
    /* color: red;
    background-color: red; */
    border-radius: 5.3vh;
    z-index: 2;
    object-fit: cover;
}

.hole {
    width: 20%;
    height: 5%;
    position: absolute;
    top: 17.5vh;
    left: 40vw;
    background-color: transparent;
    /* transform: translate(-50%, -50%);             */
    border-radius: 5vh;
    z-index: 2;
}

.serial_720_864 {
    color: black;
    font-weight: bold;
    opacity: 0.7;
    width: 25%;
    height: 5%;
    top: 96%;
    left: 79%;
    position: absolute;
    font-size:small;
}