.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    vertical-align: bottom;   
    z-index: 1;
}

.top {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    /* background-size: cover; */
    overflow: hidden;
    vertical-align: bottom;   
    z-index: 5;
}

.image_864_1440 {
    width: auto;
    height: 54.6%;
    /* max-width: 66.67%; */
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
    /* color: red;
    background-color: red; */
    /* border-radius: 5vh; */
    z-index: 2;
    /* object-fit: cover; */
}

.video_864_1440 {
    width: 65.6%;
    height: 79%;
    position: absolute;
    top: 17.6vh;
    left: 18.5vw;
    overflow: hidden;
    /* color: red;
    background-color: red; */
    border-radius: 5vh;
    z-index: 2;
    object-fit: cover;
}

.hole {
    width: 20%;
    height: 5%;
    position: absolute;
    top: 17.5vh;
    left: 40vw;
    background-color: transparent;
    /* transform: translate(-50%, -50%);             */
    border-radius: 5vh;
    z-index: 2;
}